:root {
  --dark: rgb(20, 20, 20);
}

html, body{
    background-color: var(--dark); 
    font-family: 'Roboto Slab', serif;
    /* width: 100%;
    height: auto;  */
    /* overflow-x: hidden; */
    margin: 0;
    padding: 0;
}

/* #portfolio-avatar{
  padding: 50px;  
} */

.jumbotron{
  /* margin-bottom: 0; */
  background-color: #ff9900;
}

#project-section{
  background-color: var(--dark);
  padding-top: 30px;
  padding-bottom: 30px;
}

.caption {
 text-align: center;
}

.project-links button {  
  font-weight: bold;
  color: var(--dark);
}

#contact-section{
  background-color: #ff9900;
  height: 100px;
  width: 100%;
  bottom: 20px;
  text-align: center;
}

.icons{
  color: var(--dark);
}

#contact-section{
  padding: 25px 0;
  /* margin-left: 15%; */
 
}

#github{
    /* margin-left: 25%; */
    margin-right: 2.5%;
}

#email{
    margin-left: 2.5%;
    /* margin-right: 25%; */
}